html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "EB Garamond", serif;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}
